### **George Brown College** *(Expected Graduation: May 2025)*  
**Advanced Diploma in Computer Programming and Analysis**  
- 2 semesters of Machine Learning in Python using NumPy and Pandas  
- iOS and Android mobile development  
- Full-stack development project courses covering a range of technologies  
- System architecture & software optimization for modern scalable applications  
- 3 Database courses covering use, design, and optimization  
